# .NET build outputs
bin/
obj/

# User-specific files
*.user
*.suo

# Visual Studio settings
.vs/

# NuGet
*.nupkg
packages/

# ASP.NET environment settings
appsettings.Development.json

# Secrets / credentials
*.pfx
*.key